<div class="v-popup-dialog">
  {{#unless doNotClose}}
  <a class="js-close" href="#">
    <img class="img" src="img/ico/popup-close.png" alt="">
  </a>
  {{/unless}}
  <p class="message f-6 c-org">{{{message}}}</p>
  <div class="v-popup-bottom js-close" data-tap>
    <button class="f-6 c-wht">閉じる</button>
  </div>
</div>
